%script{:type => "text/javascript", :src => "https://s3.amazonaws.com/plivosdk/web/plivo.min.js"}
:javascript
  function webrtcNotSupportedAlert() {
    alert("Your browser doesn't support WebRTC. You need Chrome 25 to use this");
  }
  var permission = false;
  function onReady() {
    console.log("Plivo ready...");
  }

  function onLogin() {
    console.log("Plivo logging in...");
  }

  function onLoginFailed() {
    console.log("Plivo log in failed...");
  }

  function onCalling() {
    jQuery(window).bind('beforeunload',function(){
      return 'Are you sure you want to leave page?'
    });
    console.log("Plivo calling...");
    jQuery('#plivo-calling-modal').show();
    jQuery(".plivo-call").text('Hangup');
  }

  function onCallFailed(cause) {
    console.log("Plivo call failed...");
    jQuery("#flash").text("Can't make a call - " + cause);
    crm.flash('notice', false);
    jQuery(window).unbind('beforeunload');
    jQuery('#plivo-calling-modal').hide();
    jQuery(".plivo-call").text('Call');
  }

  function onCallAnswered() {
    console.log("Plivo call answered...");
    jQuery(".plivo-call").text('Hangup');
  }

  function onCallTerminated() {
    console.log("Plivo call terminated...");
    jQuery(window).unbind('beforeunload');
    jQuery(".plivo-call").text('Call');
  }

  function make_call(){
    var dest = jQuery('.plivo-call').data('phone');
    Plivo.conn.call(dest, {"X-Ph-Phone": "#{current_user.try(:phone)}"});

    jQuery(window).unload(function(){
      Plivo.conn.hangup();
    });
  }

  function onMediaPermission(result) {
    if(!permission){
      if (result) {
        permission = true;
        console.log("get media permission");
        setTimeout(function(){make_call()}, 3000);
      } else {
        alert("you don't allow media permission, you will can't make a call until you allow it");
      }
    }
  }

  function onIncomingCall(account_name, extraHeaders) {
    console.log("onIncomingCall:"+account_name);
    console.log("extraHeaders=");
    for (var key in extraHeaders) {
      console.log("key="+key+".val="+extraHeaders[key]);
    }
  }



  jQuery(document).ready(function() {


    jQuery(document).on('click', '.plivo-call', function() {


      if (jQuery(this).text() != 'Hangup') {

        if (Plivo.conn == undefined){
          Plivo.onWebrtcNotSupported = webrtcNotSupportedAlert;
          Plivo.onReady = onReady;
          Plivo.onLogin = onLogin;
          Plivo.onLoginFailed = onLoginFailed;
          Plivo.onCalling = onCalling;
          Plivo.onCallFailed = onCallFailed;
          Plivo.onCallAnswered = onCallAnswered;
          Plivo.onCallTerminated = onCallTerminated;
          Plivo.onMediaPermission = onMediaPermission;
          Plivo.onIncomingCall = onIncomingCall;
          Plivo.setRingTone(true);
          Plivo.init({debug: true});
          var username = "#{ Setting['plivo_endpoint_username'] }";
          var pass = "#{ Setting['plivo_endpoint_password'] }";
          Plivo.conn.login(username, pass);

        }
        else {
          make_call();
        }


      }
      else {
        Plivo.conn.hangup();
        jQuery('#plivo-calling-modal').hide();
        jQuery(window).unbind('beforeunload');
        jQuery(this).text('Call');
      }
        return false;
    });
    jQuery(document).on('click', '.plivo-message', function() {
        var recipient = jQuery(this).data('phone');
        jQuery('#plivo-message-modal').find("input#recipient[type='hidden']").val(recipient);
        Modalbox.show($('plivo-message-modal'), {title: "Send text message", width: 600});
        return false;
    });

    jQuery(document).on('click', '.plivo-call-hangup',function(){
      jQuery('.plivo-call').text('Call');
      Plivo.conn.hangup();
      jQuery(window).unbind('beforeunload');
      jQuery('#plivo-calling-modal').hide();
      return false;
    });
  });
