.title Choose Destination
= form_tag(admin_plivo_index_path) do
  =hidden_field_tag "group_id", params[:group_id]
  .section
    %table
      %tbody
        %tr
          %td
            %div{:class => 'top label'}
              Label
            = text_field_tag "plivo_number[label]", nil, placeholder: "Enter label name", required: true
        %tr
          %td
            %div{:class => 'top label'}
              User
            = select_tag "user_ids", options_from_collection_for_select(User.all, "id", "full_name"), multiple: true, 'data-placeholder' => 'Choose users'
        %tr
          %td
            %div{:class => 'top label'}
              Group
            = select_tag "group_ids", options_from_collection_for_select(Group.all, "id", "full_name"), multiple: true, 'data-placeholder' => 'Choose groups'
        %tr
          %td
            =submit_tag "Create"
    :javascript
      new Chosen($('user_ids'))
      new Chosen($('group_ids'))

