.title Edit plivo number
=form_for(@plivo_number, url: admin_plivo_path(@plivo_number), remote: true) do |f|
  .section
    %table
      %tbody
        %tr
          %td
            =f.label :number
            =f.text_field :number, disabled: true
        %tr
          %td
            =f.label :label
            =f.text_field :label, required: true
        %tr
          %td
            =f.label :phoneable
            =f.select :phoneable_id, User.all.map{|u| [u.full_name, u.id]}
        %tr
          %td
            =f.submit "Save"
            =link_to "Cancel", admin_plivo_index_path
