.time {
  width: 64px!important;
  display: inline!important;
}
#plivo-calling-modal {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  z-index: 500;
}
#plivo-calling-modal a {
    margin-top: 7px;
    min-width: 7px;
  }
#plivo-calling-modal .btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)
  }
 #plivo-calling-modal .badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #f89406;
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

 #plivo-calling-modal .btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
    background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
    background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  }
  #plivo-calling-modal .btn-info:hover,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled] {
    color: #fff;
    background-color: #2f96b4;
    *background-color: #2a85a0
  }

  #plivo-calling-modal .btn-info:active,.btn-info.active {
    background-color: #24748c \9
  }
  #plivo-calling-modal .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
    background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
    background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  }

  #plivo-calling-modal .btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled] {
    color: #fff;
    background-color: #bd362f;
    *background-color: #a9302a;
  }

  #plivo-calling-modal .btn-danger:active,.btn-danger.active {
    background-color: #942a25;
  }
  #plivo-calling-modal .btn:hover {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
  }



#phonebook {
  min-height: 100%;
  section {
    width: 19rem;
  }

  .phone-button {
    display: inline-block;
    background-color: #fff;
    width: 5rem;
    font-size: 16px;
    line-height: 3rem;
    padding: 0;
    box-sizing: border-box;
    margin: 0.25rem;
    text-indent: 1rem;
    position: relative;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li.call-title {
    text-align: center;
    border-top: 2px solid #aaa;
    padding-top: 5px;
    font-size: 15px;
    margin: 0.25rem;
    width: 16.5rem;
  }
  .phone-button > aside {
    position: absolute;
    line-height: 1rem;
    top: 1rem;
    right: 1rem;
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.5rem;
  }
  #phone-input {
    width: 17rem;
    height: 46px!important;
    margin: 0.5rem 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    padding: .5rem;
    text-align: right;
    font-size: 1.5rem;
  }
  .phone-button.large {
    width: 16.5rem;
  }
  #phone-button-call {
    text-align: center;
    text-indent: 0;
    background-color: #0a0;
    color: white;
  }
  .phone-button.medium {
    text-indent: 0;
    text-align: center;
    width: 7.85rem;
  }
  #phone-button-hold, #phone-button-unhold {
    background-color: #ec0;
    color: white;
  }

  #phone-button-unhold {
    text-align: center;
  }

  #phone-button-answer {
    background-color: #0a0;
    color: white;
  }
  #phone-button-answer:hover {
    background-color: #0d0;
  }
  #phone-button-hangup, #phone-button-reject {
    background-color: #900;
    color: white;
  }
  .phone-button:hover {
    cursor: pointer;
    background-color: aliceblue;
  }
  #phone-button-call:hover {
    background-color: #0d0;
  }
  #phone-button-hold:hover {
    background-color: #fd0;
  }
  #phone-button-hangup:hover, #phone-button-reject:hover {
    background-color: #b00;
  }
  #replist > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    overflow-y: auto;
    height: 50%;
  }
  #replist > ul > li {
    box-sizing: border-box;
    padding: 1rem;
    background-color: #fff;
    margin: 0.25rem;
    position: relative;
  }
  #replist > ul > li:before {
    content: " ";
    background-color: #999;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    margin: 0.25rem 0.5rem 0.25rem 0;
    float: left;
    border-radius: 1rem;
  }
  #replist > ul > li > aside:before { content: "unknown"; }
  #replist > ul > li > aside {
    font-size: 0.5rem;
    text-transform: uppercase;
    color: #999;
    position: absolute;
    top: 2.25rem;
  }

  #replist > ul > li.busy > aside:before { content: "busy"; }
  #replist > ul > li.away > aside:before { content: "away"; }
  #replist > ul > li.online > aside:before { content: "online"; }
  #replist > ul > li.offline > aside:before { content: "offline"; }

  #replist > ul > li.offline::before { background-color: #c00; }
  #replist > ul > li.away::before { background-color: #fc0; }
  #replist > ul > li.busy::before { background-color: #fc0; }
  #replist > ul > li.online::before { background-color: #0c0; }

  #replist > ul > li > section {
    position:relative;
    height: 0px;
    overflow-y: scroll;
    margin:0.25rem 0 0;
    transition: height 0.2s;
  }

  #replist > ul > li > section > textarea {
    margin: 0;
    width: 100%;
    border-width: 1px 0;
    border-color: #ddd;
    height: 1.5rem;
    padding: 0.25rem;
    box-sizing: border-box;
  }
  #replist > ul > li > section > textarea:focus {
    height: 5rem;
  }
  #replist > ul > li.open > section {
    border: 1px solid #ddd;
    margin:1rem 0 0;
    height: 12rem;
  }
  .repcallbutton, .repconnectbutton {
    position: absolute;
    top: 1.4em;
    right: 1em;
    box-sizing: border-box;
    line-height: 1.5em;
  }
  .on-call, .on-incoming, .on-hold {
    display: none;
  }
  #replist > p {
    text-align: center;
    font-weight: 900;
  }
  #replist {
    padding: 0.25rem 0.25rem 1rem;
    box-sizing: border-box;
  }
  #phone {
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    min-height: 400px;
  }
  #replist > ul > li:hover {
    background-color: aliceblue;
    cursor: pointer;
  }

  .messagelist > ul > li {
    border-bottom: 1px solid #999;
    box-sizing: border-box;
    padding: 0.5rem;
  }

  .messagelist > ul > li > aside {
    float: right;
    margin: 0.5rem;
    font-size: 0.5rem;
    color: #999;
  }
}


.tags a:link {
  display: inline-block!important;
}